In [28]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [29]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Northam,GB,2022-03-23 02:37:57,51.0333,-4.2167,48.61,68,44,9.48
1,1,Rikitea,PF,2022-03-23 02:37:58,-23.1203,-134.9692,79.20,73,9,11.79
2,2,Laguna,US,2022-03-23 02:37:58,38.4210,-121.4238,82.69,42,0,6.91
3,3,Sokoto,NG,2022-03-23 02:37:59,13.0609,5.2390,77.94,15,98,8.48
4,4,Georgetown,MY,2022-03-23 02:33:17,5.4112,100.3354,87.73,86,20,3.44

In [30]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [31]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [32]:
# # 1. Assign the locations to an array of latitude and longitude pairs.
# locations = [latitude, longitude]
# # 2. Assign the weights variable to some values.
# temperatures = # an array of equal length of the locations array.
# # 3. Assign the figure variable to the gmaps.figure() attribute.
# fig = gmaps.figure()
# # 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
# heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# # 5. Add the heatmap layer.
# fig.add_layer(heatmap_layer)
# # 6. Call the figure to plot the data.
# fig

In [33]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [34]:
# # Heatmap of temperature
# # Get the latitude and longitude.
# locations = city_data_df[["Lat", "Lng"]]

# # Assign the figure variable.
# fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# # Assign the heatmap variable.
# heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
#                                  dissipating=False, max_intensity=300, point_radius=4)
# # Add the heatmap layer.
# fig.add_layer(heat_layer)

# # Call the figure to plot the data.
# fig

In [38]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [39]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [40]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 85

In [41]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Rikitea,PF,2022-03-23 02:37:58,-23.1203,-134.9692,79.20,73,9,11.79
2,2,Laguna,US,2022-03-23 02:37:58,38.4210,-121.4238,82.69,42,0,6.91
3,3,Sokoto,NG,2022-03-23 02:37:59,13.0609,5.2390,77.94,15,98,8.48
5,5,Namatanai,PG,2022-03-23 02:37:59,-3.6667,152.4333,84.88,65,100,9.33
6,6,Sinnamary,GF,2022-03-23 02:38:00,5.3833,-52.9500,74.82,96,100,13.60
9,9,Mataura,NZ,2022-03-23 02:38:01,-46.1927,168.8643,78.51,41,0,1.63
13,13,Kirakira,SB,2022-03-23 02:38:03,-10.4544,161.9205,84.63,70,58,7.90
14,14,Vaini,TO,2022-03-23 02:38:03,-21.2000,-175.2000,80.76,89,100,5.75
19,19,Busselton,AU,2022-03-23 02:38:05,-33.6500,115.3333,70.66,41,2,10.83
20,20,Puerto Ayora,EC,2022-03-23 02:38:06,-0.7393,-90.3518,79.56,92,100,13.00

In [42]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
1        Rikitea      PF     79.20 -23.1203 -134.9692
2         Laguna      US     82.69  38.4210 -121.4238
3         Sokoto      NG     77.94  13.0609    5.2390
5      Namatanai      PG     84.88  -3.6667  152.4333
6      Sinnamary      GF     74.82   5.3833  -52.9500
9        Mataura      NZ     78.51 -46.1927  168.8643
13      Kirakira      SB     84.63 -10.4544  161.9205
14         Vaini      TO     80.76 -21.2000 -175.2000
19     Busselton      AU     70.66 -33.6500  115.3333
20  Puerto Ayora      EC     79.56  -0.7393  -90.3518

In [49]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [51]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [52]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [53]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [54]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))